[submodule "project/guideline/ForAI_DesignGuideline_by_UesakaShunsuke_V1.0.0"]
	path = project/guideline/ForAI_DesignGuideline_by_UesakaShunsuke_V1.0.0
	url = git@github.com:shunsukeuesaka/design-guideline-uesaka.git
